body {

    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./pics/background2.jpg);
    background-size: cover;
    background-position: center;
}

.d-flex {
    justify-content: center; 
    align-items: center;
    min-height:100vh;
}

.login {

    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 10px;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.mb-3 {

    color:white;
}

.form-control {

    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border:none;
    padding:15px;

}

.btn {
    
    display: block;
    margin: 40px auto;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    width: auto;
    padding: 0 20px;
    height: 40px;
}

.btn:hover {

    color: white;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn:focus, btn.focus {

    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.alert-danger {

    width: 100%;
    height: 40px;
    display:block;
    position: relative;
    bottom: 15px;
    text-align: center;
    text-decoration:none;
    border-radius: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger hr {

    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {

    color: #491217;
}

.alert-danger .badge {
    color: #f8d7da;
    background-color: #721c24;
}
